<a href="#main" class="skip">Skip to main content</a>
<nav>
  <button
    id="menu-toggle"
    aria-expanded="false"
    aria-controls="navigation-list"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ul id="navigation-list" class="navigation-list">
    <li><a id="home_nav_title" href="index.html"></a></li>
    <li><a id="gallery_nav_title" href="gallery.html"></a></li>
    <li><a id="studio_insights_nav_title" href="studioinsights.html"></a></li>
    <li><a id="about_me_nav_title" href="aboutme.html"></a></li>
    <li><a id="contact_nav_title" href="contact.html"></a></li>
    <li><button id="language-switch"></button></li>
  </ul>
</nav>
