<a href="#main" class="skip">Skip to main content</a>



<nav>
  <button id="menu-toggle" aria-expanded="false" aria-controls="navigation-list" aria-label="Open navigation-list">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ul id="navigation-list" class="navigation-list">
    <li><a data-i18n="home_nav_title" href="index.html"></a></li>

    <li class="has-dropdown-gallery">
      <a data-i18n="gallery_nav_title" href="gallery.html"></a>
      <ul class="dropdown-gallery">
        <li>
          <a data-i18n="practical_works_title" href="practicalworks.html"></a>
        </li>
        <li>
          <a data-i18n="graduation_project_title" href="graduationproject.html"></a>
        </li>
        <li>
          <a data-i18n="sleeping_beauty_title" href="sleepingbeauty.html"></a>
        </li>
        <li>
          <a data-i18n="architecture_title" href="architecture.html"></a>
        </li>
        <li>
          <a data-i18n="translucent_title" href="translucent.html"></a>
        </li>
        <li>
          <a data-i18n="faux_finishes_title" href="fauxfinishes.html"></a>
        </li>
      </ul>
    </li>

    <li><a data-i18n="studio_insights_nav_title" href="studioinsights.html"></a></li>
    <li><a data-i18n="about_me_nav_title" href="aboutme.html"></a></li>
    <li><a data-i18n="contact_nav_title" href="contact.html"></a></li>
    <li>
      <button id="language-switch" class="lang-switch" aria-label="Language switch">
        <span class="track">
          <span class="option">EN</span>
          <span class="option">DE</span>
          <span class="indicator"></span>
        </span>
      </button>
    </li>
    <li><label class="theme-switch" aria-label="Toggle dark mode">
  <input type="checkbox" id="theme-toggle" role="switch" />
  <span class="theme-track">
    <span class="theme-thumb"></span>
  </span>
</label></li>
  </ul>
</nav>