  <header>
        <a href="#main" class="skip">Skip to main content</a>
        <nav>

            <ul class="navigation-list">
                <li><a id="home_nav_title" class="active" href="index.html"></a></li>
                <li><a id="gallery_nav_title" href="gallery.html"></a></li>
                <li><a id="studio_insights_nav_title" href="studioinsights.html"></a></li>
                <li><a id="about_me_nav_title" href="aboutme.html"></a></li>
                <li><a id="contact_nav_title" href="contact.html"></a></li>
                <li><button id="language-switch"></button></li>
            </ul>
        </nav>
    </header>